<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/home">RaView</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container -->
</nav>

<!-- Page Content -->
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<!-- <div class="row carousel-holder">
				<div class="col-md-12">
					<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
							<li data-target="#carousel-example-generic" data-slide-to="1"></li>
							<li data-target="#carousel-example-generic" data-slide-to="2"></li>
						</ol>
						<div class="carousel-inner">
							<div class="item active">
								<img class="slide-image" src="http://placehold.it/800x300" alt="">
							</div>
							<div class="item">
								<img class="slide-image" src="http://placehold.it/800x300" alt="">
							</div>
							<div class="item">
								<img class="slide-image" src="http://placehold.it/800x300" alt="">
							</div>
						</div>
						<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left"></span>
						</a>
						<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right"></span>
						</a>
					</div>
				</div>

			</div> -->

			<div class="row">
			<h3 style="text-align: center">Anything Awesome You Want to See Reviewed? Add It Below!</h3>
			<br></br>
				<form style="text-align: center">
				  <label>Title: </label>
				  <input ng-model="newMusicItem.name">
				  <label>Description: </label>
				  <input ng-model="newMusicItem.description">
				  <label>Picture URL: </label>
				  <input ng-model="newMusicItem.pic">
				  <label>Artist: </label>
				  <input ng-model="newMusicItem.artist">
				  <button ng-click="music-items.push(newMusicItem)">Add</button>
				</form>
				<br></br>

				  <!-- <div class="col-sm-4 col-lg-4 col-md-4" ng-repeat="item in items">
				<a href="/music-item/{{item.id}}">
				  	<img src="{{item.pic}}">
					<h4>{{item.name}}</h4>
					<p>{{item.description}}</p>
				  </a>
				  </div> -->

				<a href="/furniture/bed903v">
				<div class="col-sm-4 col-lg-4 col-md-4">
					<div class="thumbnail">
						<img src="home-resources/furniture/bed.jpg" alt="">
						<div class="caption">
							<h4 class="pull-right">$500</h4>
							<h4>Tempur Pedic Bed
							</h4>
							<p>Sound Asleep</p>
						</div>
						<div class="ratings">
							<p class="pull-right">43 reviews</p>
							<!-- <p>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
							</p> -->
						</div>
					</div>
				</div>
				</a>

				<a href="/furniture/couch-9m324">
				<div class="col-sm-4 col-lg-4 col-md-4">
					<div class="thumbnail">
						<img src="home-resources/furniture/couch.jpg" alt="">
						<div class="caption">
							<h4 class="pull-right">$350</h4>
							<h4>Stitched Couch
							</h4>
							<p>Best Seat in the House</p>
						</div>
						<div class="ratings">
							<p class="pull-right">52 reviews</p>
							<!-- <p>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star-empty"></span>
							</p> -->
						</div>
					</div>
				</div>
				</a>

				
				<a href="/furniture/decorationsm904328"><div class="col-sm-4 col-lg-4 col-md-4">
					<div class="thumbnail">
						<img src="home-resources/furniture/decorations.jpg" alt="">
						<div class="caption">
							<h4 class="pull-right">$40</h4>
							<h4>Wall Decorations
							</h4>
							<p>Good for plants and books</p>
						</div>
						<div class="ratings">
							<p class="pull-right">37 reviews</p>
							<!-- <p>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star-empty"></span>
							</p> -->
						</div>
					</div>
				</div>
				</a>

				
				<a href="/furniture/framesm1290"><div class="col-sm-6 col-lg-6 col-md-6">
					<div class="thumbnail">
						<img src="home-resources/furniture/frames.jpg" alt="">
						<div class="caption">
							<h4 class="pull-right">$36</h4>
							<h4>Hanging Frames
							</h4>
							<p>2D and 3D art look great!</p>
						</div>
						<div class="ratings">
							<p class="pull-right">46 reviews</p>
							<!-- <p>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star-empty"></span>
								<span class="glyphicon glyphicon-star-empty"></span>
							</p> -->
						</div>
					</div>
				</div>
				</a>

				
				<a href="/furniture/sofa1m-09"><div class="col-sm-6 col-lg-6 col-md-6">
					<div class="thumbnail">
						<img src="home-resources/furniture/sofa.jpg" alt="">
						<div class="caption">
							<h4 class="pull-right">$875</h4>
							<h4>Lazy Boy Sofa
							</h4>
							<p>Fit for a King</p>
						</div>
						<div class="ratings">
							<p class="pull-right">31 reviews</p>
							<!-- <p>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star-empty"></span>
							</p> -->
						</div>
					</div>
				</div>
				</a>
			</div>
		</div>
	</div>
</div>
<!-- /.container -->
