Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/home">Raview</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container -->
</nav>

<!-- Page Content -->
<div class="container">

	<div class="row">

		<!-- <div class="col-md-3">
			<p class="lead">Shop Name</p>
			<div class="list-group">
				<a href="#" class="list-group-item active">Category 1</a>
				<a href="#" class="list-group-item">Category 2</a>
				<a href="#" class="list-group-item">Category 3</a>
			</div>
		</div> -->

		<div class="col-md-9">

			<div class="thumbnail">
				<img class="img-responsive" src="img/music/jackjohnson_concert.png" alt="">
				<div class="caption-full">
					<h4 class="pull-right">$54.99</h4>
					<h4>Jack Johnson Live
					</h4>
					<p>Jack comes alive at the Greek!</p>
					<!-- <p>Want to make these reviews work? Check out
						<strong><a href="http://maxoffsky.com/code-blog/laravel-shop-tutorial-1-building-a-review-system/">this building a review system tutorial</a>
						</strong>over at maxoffsky.com!</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p> -->
				</div>
				<div class="ratings">
					<p class="pull-right">15 reviews</p>
					<h3 class="btn btn-success">
						98
					</h3>
				</div>
			</div>

			<div class="well">

				<div class="text-right">
					<form>
					  <input id="review-star" class="rating" data-show-clear="false" data-show-caption="false">
					  <label>Title</label>
					  <input ng-model="newReview.name">
					  <label>Description</label>
					  <input ng-model="newReview.description">
					  <button class="btn btn-success" ng-click="newReview.owner=$root.currentUser._id;reviews.push(newReview)">Leave a Review</button>
					</form>
					<ul>
					  <li ng-repeat="review in reviews">
						<a href="/reviews/{{review._id}}">{{review.name}}</a>
						<p>{{review.description}}</p>
						<button ng-click="remove(review)">X</button>
					  </li>
					</ul>
					<!-- <a class="btn btn-success">Leave a Review</a> -->
				</div>

				<hr>

				<div class="row">
					<div class="col-md-12">
						<h3 class="btn btn-success">
							100
						</h3>
						Anonymous
						<span class="pull-right">10 days ago</span>
						<p>Jack was awesome, a lot of fun!</p>
					</div>
				</div>

				<hr>

				<div class="row">
					<div class="col-md-12">
						<h3 class="btn btn-success">
						99
					</h3>
						Anonymous
						<span class="pull-right">12 days ago</span>
						<p>Engaging, need to bring the family next time.</p>
					</div>
				</div>

				<hr>

				<div class="row">
					<div class="col-md-12">
					<h3 class="btn btn-success">
						94
					</h3>
						Anonymous
						<span class="pull-right">15 days ago</span>
						<p>I just wish he played more of the hits!</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /.container