<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/home">RaView</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container -->
</nav>

<!-- Page Content -->
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<!-- <div class="row carousel-holder">
				<div class="col-md-12">
					<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
							<li data-target="#carousel-example-generic" data-slide-to="1"></li>
							<li data-target="#carousel-example-generic" data-slide-to="2"></li>
						</ol>
						<div class="carousel-inner">
							<div class="item active">
								<img class="slide-image" src="http://placehold.it/800x300" alt="">
							</div>
							<div class="item">
								<img class="slide-image" src="http://placehold.it/800x300" alt="">
							</div>
							<div class="item">
								<img class="slide-image" src="http://placehold.it/800x300" alt="">
							</div>
						</div>
						<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left"></span>
						</a>
						<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right"></span>
						</a>
					</div>
				</div>

			</div> -->

			<div class="row">
			<h3 style="text-align: center">Anything Awesome You Want to See Reviewed? Add It Below!</h3>
			<br></br>
				<form style="text-align: center">
				  <label>Title: </label>
				  <input ng-model="newMusicItem.name">
				  <label>Description: </label>
				  <input ng-model="newMusicItem.description">
				  <label>Picture URL: </label>
				  <input ng-model="newMusicItem.pic">
				  <label>Artist: </label>
				  <input ng-model="newMusicItem.artist">
				  <button ng-click="music-items.push(newMusicItem)">Add</button>
				</form>
				<br></br>

				  <!-- <div class="col-sm-4 col-lg-4 col-md-4" ng-repeat="item in items">
				<a href="/music-item/{{item.id}}">
				  	<img src="{{item.pic}}">
					<h4>{{item.name}}</h4>
					<p>{{item.description}}</p>
				  </a>
				  </div> -->

				<a href="/nightlife/draism290314">
				<div class="col-sm-4 col-lg-4 col-md-4">
					<div class="thumbnail">
						<img src="img/nightlife/drais.jpg" alt="">
						<div class="caption">
							<h4 class="pull-right">Varies</h4>
							<h4>Drais
							</h4>
							<p>Turn up or chill out, both are good here!</p>
						</div>
						<div class="ratings">
							<p class="pull-right">
								<h3 class="btn btn-success" style="hover: false">87</h3>
							35 reviews</p>
							<!-- <p>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
							</p> -->
						</div>
					</div>
				</div>
				</a>

				<a href="/nightlife/eclipse2393408">
				<div class="col-sm-4 col-lg-4 col-md-4">
					<div class="thumbnail">
						<img src="img/nightlife/eclipse.jpg" alt="">
						<div class="caption">
							<h4 class="pull-right">Varies</h4>
							<h4>Eclipse
							</h4>
							<p>Enjoy a pool party tonight</p>
						</div>
						<div class="ratings">
							<p class="pull-right">
								<h3 class="btn btn-success" style="hover: false">89</h3>
							52 reviews</p>
							<!-- <p>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star-empty"></span>
							</p> -->
						</div>
					</div>
				</div>
				</a>

				
				<a href="/nightlife/hakkasanm341089"><div class="col-sm-4 col-lg-4 col-md-4">
					<div class="thumbnail">
						<img src="img/nightlife/hakkasan.jpg" alt="">
						<div class="caption">
							<h4 class="pull-right">Varies</h4>
							<h4>Hakkasan
							</h4>
							<p>Located in MGM, fun with lots of DJs</p>
						</div>
						<div class="ratings">
							<p class="pull-right">
								<h3 class="btn btn-success" style="hover: false">98</h3>
							64 reviews</p>
							<!-- <p>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star-empty"></span>
							</p> -->
						</div>
					</div>
				</div>
				</a>

				
				<a href="/nightlife/marqueem12390"><div class="col-sm-6 col-lg-6 col-md-6">
					<div class="thumbnail">
						<img src="img/nightlife/marquee.jpg" alt="">
						<div class="caption">
							<h4 class="pull-right">Varies</h4>
							<h4>Marquee Club
							</h4>
							<p>Classy parties are welcome at this premium night club</p>
						</div>
						<div class="ratings">
							<p class="pull-right">
								<h3 class="btn btn-success" style="hover: false">100</h3>
							73 reviews</p>
							<!-- <p>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star-empty"></span>
								<span class="glyphicon glyphicon-star-empty"></span>
							</p> -->
						</div>
					</div>
				</div>
				</a>

				
				<a href="/nightlife/tao329104m8"><div class="col-sm-6 col-lg-6 col-md-6">
					<div class="thumbnail">
						<img src="img/nightlife/tao.jpg" alt="">
						<div class="caption">
							<h4 class="pull-right">Varies</h4>
							<h4>Tao
							</h4>
							<p>Get away at this exotic themed club</p>
						</div>
						<div class="ratings">
							<p class="pull-right">
								<h3 class="btn btn-success" style="hover: false">86</h3>
							47 reviews</p>
							<!-- <p>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star-empty"></span>
							</p> -->
						</div>
					</div>
				</div>
				</a>
			</div>
		</div>
	</div>
</div>
<!-- /.container -->
